<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Home</title>
</head>

<body>

    <form class="container" action="/" method="post">
        <button name="id" value="1"><img src="images/avatars/image-amyrobson.png" alt=""></button>
        <button name="id" value="2"><img src="images/avatars/image-juliusomo.png" alt=""></button>
        <button name="id" value="3"><img src="images/avatars/image-maxblagun.png" alt=""></button>
        <button name="id" value="4"><img src="images/avatars/image-ramsesmiron.png" alt=""></button>
    </form>

</body>

</html>