* {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
}

body {
    background-color: hsl(223, 19%, 93%);
}

.container {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    min-width: 40rem;
    max-width: 40rem;
}

.basic-card {
    margin-top: 1rem;
    background-color: white;
    border-radius: 5px;
    display: flex;
    padding: 1.5rem;

}

.content {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    max-width: 34rem;
}

.reply-content {
    max-width: 29rem;
}

.card-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 1rem;
}

.reply {
    margin-left: auto;
    color: hsl(238, 40%, 52%);
    font-weight: 500;
    cursor: pointer;
}

.reply img {
    width: .7rem;
    height: .7rem;
    padding-right: .2rem;
}

.reply:hover {
    opacity: 30%;

}

.avatar {
    width: 1.7rem;
    height: 1.7rem;
    margin-right: 1rem;
}

.card-header h6 {
    margin-left: 1rem;
    font-size: 13px;
    font-weight: 400;
    color: hsl(211, 10%, 45%);
}

.self {
    background-color: hsl(238, 40%, 52%);
    border-radius: 3px;
    padding: 2px 10px 4px;
    color: white;
    font-size: 15px;
    margin-left: 10px;
}

.delete {
    border: none;
    font-size: 18px;
    color: hsl(358, 79%, 66%);
    background-color: white;
    font-weight: 500;
    cursor: pointer;
}

.delete img {
    margin-right: 5px;
}

.edit {
    border: none;
    font-size: 18px;
    color: hsl(238, 40%, 52%);
    background-color: white;
    font-weight: 500;
    cursor: pointer;
}

.card-header button:nth-of-type(1) {
    margin-right: 1rem;
    margin-left: auto;
}



.content p {
    color: hsl(211, 10%, 45%);
    overflow-wrap: break-word;
}

.score form div {
    color: hsl(238, 40%, 52%);
}

.score form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    padding: .2rem .5rem;
    margin-right: 1rem;
    border-radius: 8px;
    background-color: hsl(223, 19%, 93%);
    color: hsl(239, 57%, 85%);
    font-size: 17px;
    font-weight: 500;
    user-select: none;
}

.controller:hover {
    cursor: pointer;
    color: hsl(238, 40%, 52%);

}

.controller {
    border: none;
    background-color: none;
    font-size: 17px;
    font-weight: 500;
    color: hsl(239, 57%, 85%);
}

/* Reply card part */

.reply-card {
    margin-top: 1rem;
    background-color: white;
    border-radius: 5px;
    display: none;
    align-items: flex-start;
    padding: 1.5rem;
}

.send-card {
    display: flex;
}

.reply-card form img {
    width: 2.4rem;
    height: 2.4rem;
    margin-right: 1rem;
}

.reply-card form {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-grow: 1;
}

.reply-card form textarea {
    border-radius: 8px;
    border: 1.5px solid hsl(238, 40%, 52%);
    padding: 1rem 1.4rem;
    font-size: 1.1rem;
    resize: none;
    flex-grow: 1;
    height: 4rem;
    color: hsl(211, 10%, 35%);
}

.reply-card form textarea p {
    color: hsl(238, 40%, 52%);
}

.reply-card form button {
    background-color: hsl(238, 40%, 52%);
    color: white;
    border-radius: 7px;
    padding: .9rem 1.6rem;
    font-size: 15px;
    font-weight: 500;
    border: none;
    margin-left: 1rem;
    cursor: pointer;
}

.reply-card form button:hover {
    opacity: 40%;
}

/* replies part  */

.container-fluid {
    display: flex;
    flex-direction: column;
    border-left: 2px solid rgb(219, 223, 221);
    padding-left: 2rem;
    margin-left: 2rem;
    margin-top: 1rem;
}

.container-fluid .basic-card:nth-of-type(1) {
    margin-top: 0;
}

.black-back {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    z-index: 1;
    display: none;
    /* background-color: hsl(238, 40%, 52%);
    background-color: hsl(358, 79%, 66%);
    background-color: hsl(239, 57%, 85%);
    background-color: hsl(357, 100%, 86%);
    background-color: hsl(212, 24%, 26%);
    background-color: hsl(211, 10%, 45%);
    background-color: hsl(228, 33%, 97%);
    background-color: hsl(0, 0%, 100%);
    background-color: hsl(223, 19%, 93%); */
}

.delete-card {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    background-color: white;
    width: 20rem;
    padding: 2rem;
    border-radius: 10px;
    display: none;
}

.delete-card h2 {
    color: hsl(212, 24%, 26%);
    margin-bottom: 1.5rem;
}

.delete-card p {
    color: hsl(211, 10%, 45%);
    margin-bottom: 1.5rem;
}

.delete-card form {
    display: flex;
    justify-content: space-between;
}

.delete-card button {
    border-radius: 8px;
    padding: 1rem 2rem;
    border: none;
    color: white;
    background-color: hsl(358, 79%, 66%);
    font-size: 15px;
    cursor: pointer;
}

.delete-card button:nth-of-type(1) {
    background-color: hsl(212, 24%, 26%);
}

.delete-card button:hover {
    opacity: 90%;
}



.edit-card {
    display: none;
    flex-direction: column;
    align-items: flex-end;
}

.edit-card textarea {
    border-radius: 8px;
    border: 1.5px solid hsl(238, 40%, 52%);
    padding: 1rem 1.4rem;
    font-size: 1.1rem;
    resize: none;
    flex-grow: 1;
    height: 4rem;
    color: hsl(211, 10%, 35%);
    width: calc(100% - 2.8rem);
}

.edit-card button {
    background-color: hsl(238, 40%, 52%);
    color: white;
    border-radius: 7px;
    padding: .9rem 1.6rem;
    font-size: 15px;
    font-weight: 500;
    border: none;
    margin-left: 24rem;
    margin-top: 1rem;
    cursor: pointer;
}

.m4hosam {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
    display: flex;
    align-items: center;
    padding: 1rem 0;
}

.m4hosam img {
    width: 1.7rem;
    border-radius: 50%;
    margin-right: 1rem;
}

.m4hosam a {
    text-decoration: none;
    color: hsl(212, 24%, 26%);
    opacity: 50%;
}

.m4hosam a:hover {
    opacity: 90%;
}

@media (max-width:660px) {
    .container {
        position: relative;
        /* display: flex; */
        /* flex-direction: column; */
        left: 2rem;
        transform: none;
        transform: translate(-3rem, 0);
        min-width: 80%;
        margin-left: 2rem;
    }

    .container-fluid {
        padding-left: 1rem;
        margin-left: 0;
        margin-top: 1rem;
    }

    .basic-card {
        flex-direction: column-reverse;
    }

    .score form {
        flex-direction: row;
        max-width: 4rem;
        min-width: 4rem;
        max-height: 2rem;
    }

    .score {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        margin-top: 1rem;
    }


    .delete {
        margin-left: auto;
    }

    .reply {
        margin-left: auto;
    }

    .edit {
        margin-left: 1rem;
    }

    .reply-card form {
        flex-direction: column;
        min-width: 100%;
    }

    .reply-card form div {
        display: flex;
        flex-direction: row;
        min-width: 100%;
        justify-content: space-between;
        margin-top: 1rem;
    }

    .reply-card form textarea {
        min-width: calc(100% - 2.8rem);
    }

    .delete-card {
        width: 16rem;
    }

    .delete-card button {
        padding: 1rem 1rem;
    }




}