*{
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
}
body{
    background-color: hsl(223, 19%, 93%);
}
.container{
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);
}
.basic-card{
    margin-top: 1rem;
    background-color: white;
    border-radius: 5px;
    display: flex;
    padding: 1.5rem;
}
.content{
    display: flex;
    flex-direction: column;
}
.card-header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 1rem;
}
.reply{
    margin-left: auto;
    color: hsl(238, 40%, 52%);
    font-weight: 500;
    cursor: pointer;
}

.reply img{
    width: .7rem;
    height: .7rem;
    padding-right: .2rem;
}
.reply:hover{
    opacity:30%;
    
}
.avatar{
    width: 1.7rem;
    height: 1.7rem;
    margin-right: 1rem;
}
.card-header h6{
    margin-left: 1rem;
    font-size: 13px;
    font-weight: 400;
    color: hsl(211, 10%, 45%);
}
.content p{
    color: hsl(211, 10%, 45%);
}

.score{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    padding: .2rem .5rem;
    margin-right: 1rem;
    border-radius: 8px;
    background-color: hsl(223, 19%, 93%);
    color: hsl(239, 57%, 85%);
    font-size: 17px;
    font-weight: 500;
    user-select: none;
    /* background-color: hsl(238, 40%, 52%);
    background-color: hsl(358, 79%, 66%);
    background-color: hsl(239, 57%, 85%);
    background-color: hsl(357, 100%, 86%);
    background-color: hsl(212, 24%, 26%);
    background-color: hsl(211, 10%, 45%);
    background-color: hsl(228, 33%, 97%);
    background-color: hsl(0, 0%, 100%);
    background-color: hsl(223, 19%, 93%); */

}
.score div:nth-of-type(2){
    color: hsl(238, 40%, 52%);
}
.controller:hover{
    cursor: pointer;
    color: hsl(238, 40%, 52%);

}

/* Reply card part */

.reply-card{
    margin-top: 1rem;
    background-color: white;
    border-radius: 5px;
    display: none;
    align-items: flex-start;
    padding: 1.5rem;
}
.reply-card img{
    width: 2.4rem;
    height: 2.4rem;
    margin-right: 1rem;
}
.reply-card form{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-grow: 1;
}
.reply-card form textarea{
    border-radius: 8px;
    border: 1.5px solid hsl(238, 40%, 52%);
    padding: 1rem 1.4rem;
    font-size: 1.1rem;
    resize: none;
    flex-grow: 1;
    height: 4rem;
    color: hsl(211, 10%, 35%);
}
.reply-card form button{
    background-color: hsl(238, 40%, 52%);
    color: white;
    border-radius: 7px;
    padding: .9rem 1.6rem;
    font-size: 15px;
    font-weight: 500;
    border: none;
    margin-left: 1rem;
    cursor: pointer;
}
.reply-card form button:hover{
    opacity: 40%;
}